body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

html, body{
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}
.navbar-brand{
    color: white;
    padding-left: 2%;
    text-transform: uppercase;
}

.athlete-page{
    text-decoration: none !important;
}

#home{
    height: 600px;
    width: 100%;
    background-color: black;
    overflow: hidden;
}

#athletes-desc{
    text-align: center;
}

#athletes{
    height: 500px;
    width: 100%;
    text-align: center;
}

.dp{
    height: 200px;
    width: 200px;
    margin: 10px;   
}

.wrap:hover{
    filter: grayscale(0);
    color:#668AF0;
}

.names{
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;

}

.wrap{
   float: left;
   overflow: hidden;
   filter: grayscale(10);
   transition: grayscale color 2s;
   margin-left: 5%;
}

.container{
    height: 100%;
    width: 100%;
    padding: 0;
}

#title{
    position: relative;
    z-index: 100;
    color: white;  
    margin: 5% 5% 0% 0%;
    font-size: 2em;
}

video{
    z-index: 0;
    position: relative;
    top: -100px;
    height: 100%;
    width: 100%;
}

#image-container{
    display: inline-block;
    height: 100%;
}






