body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.navbar-brand{
    color: white;
    padding-left: 2%;
    text-transform: uppercase;
}

.athlete-page{
    text-decoration: none !important;
}

#home{
    height: 600px;
    background-color: black;
}

#athletes-desc{
    text-align: center;
}

#athletes{
    height: 500px;
}

#title{
    color: white;  
    padding: 5% 5% 5% 5%;
    font-size: 2em;
}


.dp{
    height: 200px;
    width: 200px;
    margin: 10px;   
}

.wrap:hover{
    filter: grayscale(0);
    color:#668AF0;
}

.names{
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;

}

video{
    height: 400px;
    width: 100%;
}
.wrap{
   float: left;
   overflow: auto;
   filter: grayscale(10);
   transition: grayscale color 2s;
   margin-left: 5%;
}






